<ion-content class="bg-light">
	
    <div class="code">
    	<span float-end>
            <ion-icon name="md-close" class="close-icon" (click)="dismiss()" style="font-size:2.0em!important;"></ion-icon>
    	</span>
        <h2>Add Promo code</h2>
        <ion-input type="text" value="" [(ngModel)]="cCode" placeholder="Enter promo code here"></ion-input>
        <button ion-button full class="bg-thime btn-round btn-text" (click)="checkCode()">Submit</button>
    </div>
</ion-content>
