page-login {
    ion-header {
        img {
            width: 90px;
            margin: auto;
        }
    }
    .formmsg{
        font-size: 21px;
        font-family: london;
    }
    .msg{
        font-size: 21px;
        font-family:london;
    }
    ion-header .toolbar-title.toolbar-title-md span {
        top: 3px;
    }
    .logincontent .scroll-content{
      background-color: rgba(158, 158, 158, 0.08);
    }
    .form {
        position: relative;
        min-height: calc(100vh - 20rem);
        z-index: 1;
        ion-list.list {
            margin-bottom: 1rem !important;
        }
        ion-card{
         box-shadow:none;
         border: 1px solid #eee;
        }
        .d-flex {
            display: flex;
            align-items: center;
            border: 1px solid #e4e4e4;
            border-radius: 3px;
            padding-right: 18px;
            margin-bottom: 5px;
            .item-inner {
                border: none !important;
                margin-bottom: 0px;
            }
            .eye-icon {
                display: block;
                font-size: 2.5rem;
            }
        }
    }
    .toolbar-content-ios .toolbar-title-ios {
        margin-top: 2px;
    }
}
