<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <div text-start>
             <ion-icon name="lock"></ion-icon> <strong padding-left>Secure</strong>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="logincontent">
    <div class="form">
        <p class="msg" text-center padding-bottom margin-bottom>Welcome to your Secure Login</p>
        <ion-card padding-top padding-bottom>
            <ion-card-content>
                <p class="formmsg apptext-color" margin-bottom>Existing Customers</p>
                    <ion-list>
                        <!-- <ion-item>
                            <ion-label>Select Country</ion-label>
                            <ion-select [(ngModel)]="countryCode" multiple="false" class="text-thime">
                                <ion-option [value]="country.callingCodes[0]" *ngFor="let country of countries">{{country.name}}</ion-option>
                            </ion-select>
                        </ion-item>  -->
                        <ion-item>
                            <ion-label>Username</ion-label>
                            <ion-input type="tel" text-right placeholder="Phone" [(ngModel)]="credentials.username"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Password</ion-label>
                            <ion-input type="password" text-right placeholder="Password" [(ngModel)]="credentials.password"></ion-input>
                        </ion-item>
                    </ion-list>
                    <p text-right padding-top padding-bottom  (click)="passwordPage()">Forgot password?      </p>
                    <button ion-button full class="appbtn-color btn-round btn-text" (click)="signIn()">SIGN IN</button><br>
                    <p text-center [innerHTML]="loginerror" style="margin: 0;"></p>
            </ion-card-content>
        </ion-card>
    </div>
        <ion-card class="registersec">
            <ion-card-content>
                    <p class="register apptext-color" text-center padding> NEW TO LONDON MARKET </p>
                    <button color="dark" ion-button full class="appbtn-color btn-round btn-text" (click)="signupPage()">SIGN UP</button>
            </ion-card-content>
        </ion-card>

</ion-content>