<ion-header>
    <ion-navbar>
        <button ion-button menuToggle start>
        	<ion-icon name="menu"></ion-icon>
    	</button>
        <ion-title style="text-align:left;">Fix Appointment</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="appointment">
	<div class="form" padding-left padding-right>
        <h3 text-center padding-bottom margin-bottom class="apptext-color">Connect with us</h3>
        <ion-list>
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input type="text" text-right placeholder="Name" [(ngModel)]="contact.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input type="text" text-right placeholder="Email" [(ngModel)]="contact.email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Mobile</ion-label>
                <ion-input type="tel" text-right placeholder="Mobile" [(ngModel)]="contact.mobile"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Description</ion-label>
                 <ion-textarea rows="8" text-right placeholder="Description.." [(ngModel)]="contact.info"></ion-textarea>
            </ion-item>
        </ion-list>
        <p text-center [innerHTML]="authError"></p>
        <button ion-button full class="appbtn-color btn-round btn-text" (click)="sendemail()">submit</button>
    </div>
</ion-content>
