<ion-header>

  <ion-navbar>
    <ion-title>
    Terms and Conditions <ion-icon name="md-close" class="close-icon" (click)="dismiss()" float-right style="font-size: 20px;"></ion-icon> </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<div class="terms-of-service">
			
  <p [innerHTML]="pagedata.content.rendered" *ngIf='pagedata !== undefined' ></p>

</div>
</ion-content>
