<ion-header>
    <ion-navbar>
        <button ion-button menuToggle start>
        	<ion-icon name="menu"></ion-icon>
    	</button>
        <ion-title style="text-align:left;">Exhibitions - Our Schedule</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="exhibition">
<!-- <p [innerHTML]="pagedata.content.rendered" *ngIf='pagedata.content.rendered'></p> -->
<ion-slides class="exhibitionslider" autoplay="2000" loop="true" pager dir="ltr" *ngIf='pagedata !== undefined'>
    <ion-slide *ngFor="let item of pagedata; let i = index">
         <img src="{{item.featured_img_src}}" class="slide-image" (click)="exhibition(item.custom_field[i].link[0])" />
    </ion-slide>
</ion-slides>
 <ion-row padding>
      <ion-col style="padding: 3px 0px 0px 0px;">
        <div text-start>
         <h5>Contact us:</h5><br>
         Phone no. : 011-47527629<br>
         Email id: princessdayout@gmail.com<br>
         <p>
	        <a href="https://www.instagram.com/luxurylondonmarket/">
	         <ion-icon name="logo-instagram" style="font-size: 2.8em; color:#ea322f;margin-right: 10px;"></ion-icon>
	     	</a>
	     	<a href="https://www.facebook.com/luxurylondonmarket/">
	         <ion-icon name="logo-facebook" style="font-size: 2.8em;color:#09188a;"></ion-icon>
	     	</a>
     	</p>
        </div>
      </ion-col>
    </ion-row>
</ion-content>
