page-exhibition {
	.exhibition .scroll-content{
		background: rgba(238, 238, 238, 0.28);
	}

	ul li {
		list-style-type: none;
		padding:0px;
	}

	ion-slides{
	 height:auto;
	}
	.swiper-slide{
	 height:auto;
	}
}
