page-category {
    .categorycontent .scroll-content{
         background-color: rgba(158, 158, 158, 0.08);
    }

    .list-md .item-block .item-inner {
        border-bottom: none;
    }
    .bg-light {
        background: #fbfbfb !important;
    }
    .header{
        .toolbar-title{
            ion-icon{
                margin-left: auto;
                font-size: 2.2rem;
            }
        }
    }

    .shoplist .label-md {
        margin: 8px 8px 9px 0!important;
    }
    .all-products {
        margin-top: 1rem;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        display: flex;
        background: $white-color;
        align-items: stretch;
        .segment {
            display: block;
            width: 40vw;
            .segment-button {
                width: 100%;
                text-align: left;
                color: #9b9b9b;
                border: none !important;
                border-radius: 0 !important;
                background: #fbfbfb;
                position: relative;
                z-index: 1;
                opacity: 1;
                line-height: normal;
                white-space: normal;
                text-transform: none;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 15px 20px;
                height: auto;
                &.active,
                &.segment-activated {
                    color: $bg-color;
                    font-weight: 600 !important;
                    background: $white-color;
                    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15) !important;
                    z-index: 999;
                }
            }
        }
    }
    .all-items {
        width: 100%;
        margin-left: auto;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
        position: relative;
        z-index: 99;
        .list {
            margin-top: 0 !important;
            .item:first-child {
                display: none;
            }
        }
        p {
            font-size: 1.3rem;
            //            position: relative;
            display: flex;
            align-items: center;
            color: #5b5b5b;
            font-weight: 500;
            padding: 10px 4px 0px;
            span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 160px;
            }
            ion-icon {
                color: #e7e7e7 !important;
                font-size: 18px;
                margin-left: auto;
                min-width: 30px;
                text-align: center  !important;
            }
        }
        .item-block {
            .item-inner {
                border: none !important;
            }
        }
    }
    .tabs-contant {
        background: #fbfbfb;
    }

    .shopsearchbar .searchbar-input{
        background:#fff!important;
    }
    .shopsearchbar{
        padding: 4px 58px;
    }
    .shopitems{
        padding-top: 11px;
    }
    .shoplist
    {
        ion-item{
         width:95%;
         border-radius:5px!important;
         margin-left:8px !important;
         margin-right:5px !important;
        }
       
    }
    .shoplist .item-ios.item-block .item-inner{
        border:none;
    }

    .shoplist .item-block:first-child{
        border-top:none;
    }

    .shoplist .item-block:last-child{
        border-bottom:none;
    }
    
    .list .item-avatar.list-purple {
        color: #FFF;
        background-color: #b31f6f!important;  
    }
}
