<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button> 
        <ion-searchbar type ="text" class="shopsearchbar" (click)="searchPage()"></ion-searchbar>
    </ion-navbar>
</ion-header>
<ion-content class="categorycontent">
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list class="shoplist">
        <ion-item margin-top *ngFor="let cats of categoriesAll">
            <button menuClose ion-item (click)="showCats(cats)" class="shopbutton">
                <ion-avatar slot="start" class="hydrated" float-left>
                    <img src="{{cats[0].image.src}}" style="object-fit: cover;object-position: top;" *ngIf='cats[0].image.src!=false'> 
                    <img src="assets/imgs/logo.png" style="object-fit: cover;object-position: top;" *ngIf='cats[0].image.src==false'> 
                </ion-avatar>
                <p padding-left class="shopitems" [innerHTML]="cats[0].name"></p>
            </button>
        </ion-item> 
    </ion-list>

 <!--    <div class="all-products">
        <div class="tabs-contant">
            <ion-segment *ngFor="let cats of categoriesAll">
                <ion-segment-button [ngClass]="(cats[0].id == catsToShow[0].id) ? 'active' : 'blank_class'" [innerHTML]="cats[0].name"
                    (click)="showCats(cats)">
                </ion-segment-button>
            </ion-segment>
        </div>
        <div class="all-items">
            <ion-list>
                <ion-item *ngFor="let cat of catsToShow">
                    <p class="" *ngIf="cat.parent != 0" (click)="shirtsPage(cat)">
                        <span [innerHTML]="cat.name"></span>
                        <ion-icon name="ios-arrow-forward-outline" text-right class="icon"></ion-icon>
                    </p>
                </ion-item>
            </ion-list>
        </div>
    </div> -->
</ion-content>