<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Wishlist
            <!-- <span float-right>                  
              <ion-icon name="ios-cart-outline" class="icon" (click)="cartPage()"></ion-icon>
            </span> -->
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="wishpage">
	<ion-card *ngIf="!wishlistproducts.length">
        <ion-card-content>
			<h3 padding>No favorites found</h3>
		</ion-card-content>
	</ion-card>
    <ion-card *ngFor="let fav of wishlistproducts">
        <ion-card-content>
            <ion-row>
                <ion-col col-3>
                    <div *ngIf="fav.images && fav.images.length" class="img-box" (click)="itemdetailPage(fav)">
                        <img data-src="{{fav.images[0].src}}">
                    </div>
                    <div *ngIf="fav.images == null || fav.images.length == 0" class="img-box" (click)="itemdetailPage(fav)">
                        <img src="assets/imgs/suit_PNG8132.png">
                    </div>
                </ion-col>
                <ion-col col-9>
                    <h4>{{fav.name}}
                        <ion-icon name="ios-trash-outline" class="icon" (click)="removeFavorite(fav.id)" style="color: #890a0a;"></ion-icon>
                    </h4>
                    <div class="rateing">
                        <p>{{fav.categories[0].name}}</p>
                        <div class="card-btn">
                            <div class="">
                                <!-- <div float-left>
                                    <small class="text-white bg-green" float-left>{{fav.average_rating}} <ion-icon name="md-star"></ion-icon></small>
                                    <span class="small-text">({{fav.rating_count}} reviews)</span>
                                </div> -->
                                <div style="display: flex;">
                                    <div class="price mr-5" style="color:#777;">
                                        <s [innerHTML]="fav.regular_price_html"> </s>
                                    </div>
                                    <div class="price mr-5" style="color:#000;">
                                        <strong [innerHTML]="fav.sale_price_html"></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
