<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
           <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Order
            <!-- <span float-right>
                <ion-icon padding-right name="ios-search-outline" class="icon" (click)="searchPage()"></ion-icon>
                <ion-icon name="ios-cart-outline" class="icon" (click)="cartPage()"></ion-icon>
            </span> -->
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-list>
        <ion-card *ngFor="let order of orders">
            <ion-card-content>
                <ion-row>
                    <ion-col>
                        <p >Order {{order.id}}</p>
                    </ion-col>
                </ion-row>

                <ion-row *ngFor="let item of order.line_items">
                    <ion-col (click)="itemdetailPage(item)">
                        <div class="rate">
                            <p style="display:flex;">{{item.name}}
                                <strong class="price" style="margin-left:auto;">{{item.quantity}}x </strong>
                                <strong class="price" [innerHTML]="item.price_html"></strong>
                            </p>
                        </div>
                    </ion-col>
                </ion-row>

                <div class="card-btn" float-right>
                    <small *ngIf="order.status == 'on-hold' || order.status == 'pending'|| order.status == 'processing'"
                        class="cancel" (click)="cancelOrder(order)" style="color: #880909;">Cancel order</small>
                    <small class="text-green" style="color: #278809;">{{order.status}}</small>
                </div>
                <div class="rate">
                    <p class="" style="display:flex;">Ordered on 
                        {{order.date_created}}
                        <strong class="price" style="margin-left:auto;" [innerHTML]="order.total_html"></strong>
                    </p>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>