<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Filters</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-grid>
<form (ngSubmit)="filters()">
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-list-header>
                    <h1 class="head">Product Filters</h1>
                </ion-list-header>
             <!--  <ion-item *ngFor ="let c of collection; let i=index">
                <ion-label>{{c.name}} </ion-label>
                <ion-toggle color="dark" value="c.name" [(ngModel)]="cate[c.for_id]" name="c.name"></ion-toggle>
              </ion-item> -->
            </ion-list>
        </ion-col>
    </ion-row>

     <ion-row>
        <ion-col>
            <ion-list>
                <ion-list-header>
                    <h1 class="head">Colors</h1>
                    <!-- <p style="white-space: initial;">
                    {{showcolor1}}</p> -->
              </ion-list-header>
              <ion-item>
                <ion-label>White</ion-label>
                <ion-toggle (ionChange)="colortoggle($event.checked,'343')" color="dark" value="white" checked="false" [(ngModel)]="colorfilter.white" name="white"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>Purple</ion-label>
                <ion-toggle (ionChange)="colortoggle($event.checked,'339')" color="dark" value="purple" [(ngModel)]="colorfilter.purple" name="purple"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>Blue</ion-label>
                <ion-toggle (ionChange)="colortoggle($event.checked,'335')" color="dark" value="blue" [(ngModel)]="colorfilter.blue" name="blue"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>Brown</ion-label>
                <ion-toggle (ionChange)="colortoggle($event.checked,'344')" color="dark" value="brown" [(ngModel)]="colorfilter.brown" name="brown"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>Black</ion-label>
                <ion-toggle (ionChange)="colortoggle($event.checked,'338')" color="dark" value="black" [(ngModel)]="colorfilter.black" name="black"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>Red</ion-label>
                <ion-toggle (ionChange)="colortoggle($event.checked,'333')" color="dark" value="red" [(ngModel)]="colorfilter.red" name="red"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>Green</ion-label>
                <ion-toggle (ionChange)="colortoggle($event.checked,'334')" color="dark" value="green" [(ngModel)]="colorfilter.green" name="green"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>Pink</ion-label>
                <ion-toggle (ionChange)="colortoggle($event.checked,'336')" color="dark" value="pink" [(ngModel)]="colorfilter.pink" name="pink"></ion-toggle>
              </ion-item>
              
              <ion-item>
                <ion-label>Yellow</ion-label>
                <ion-toggle (ionChange)="colortoggle($event.checked,'337')" color="dark" value="yellow" [(ngModel)]="colorfilter.yellow" name="yellow"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>Multi Colour</ion-label>
                <ion-toggle (ionChange)="colortoggle($event.checked,'341')" color="dark" value="multi" [(ngModel)]="colorfilter.multi" name="multi"></ion-toggle>
              </ion-item>

            </ion-list>
        </ion-col>
    </ion-row> 

     <ion-row>
        <ion-col>
            <ion-list>
                <ion-list-header>
                    <h1 class="head">Size</h1>
                    <!-- <p style="white-space: initial;">
                    {{showsize1}}</p> -->
              </ion-list-header>
              <ion-item>
                <ion-label>S</ion-label>
                <ion-toggle color="dark" value="S" checked="false" [(ngModel)]="sizefilter.s" name="sizes" (ionChange)="sizetoggle($event.checked,'328')"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>M</ion-label>
                <ion-toggle color="dark" value="M" name="sizem" [(ngModel)]="sizefilter.m" (ionChange)="sizetoggle($event.checked,'329')"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>L</ion-label>
                <ion-toggle color="dark" value="L" name="sizel" [(ngModel)]="sizefilter.l" (ionChange)="sizetoggle($event.checked,'330')"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>XL</ion-label>
                <ion-toggle color="dark" value="XL" name="sizexl" [(ngModel)]="sizefilter.xl" (ionChange)="sizetoggle($event.checked,'331')"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>XXL</ion-label>
                <ion-toggle color="dark" value="XXL" name="sizexxl" [(ngModel)]="sizefilter.xxl" (ionChange)="sizetoggle($event.checked,'332')"></ion-toggle>
              </ion-item>

            </ion-list>
        </ion-col>
    </ion-row> 

    <ion-row>
        <ion-col>
            <ion-list>
                <ion-list-header>
                    <h1 class="head">Price</h1>
                    <!-- <p style="white-space: initial;">
                    {{showprice1}}</p> -->
              </ion-list-header>
              <ion-item>
                <ion-label>0-1000</ion-label>
                <ion-toggle color="dark" value="1000" [(ngModel)]="price.one" checked="true" name="one" (ionChange)="pricetoggle($event.checked,'0','1000')"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>1000-3000</ion-label>
                <ion-toggle color="dark" value="3000" [(ngModel)]="price.three" name="three" (ionChange)="pricetoggle($event.checked,'1000','3000')"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>3000-5000</ion-label>
                <ion-toggle color="dark" value="5000" [(ngModel)]="price.five" name="five" (ionChange)="pricetoggle($event.checked,'3000','5000')"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>5000-10000</ion-label>
                <ion-toggle color="dark" value="10000" [(ngModel)]="price.ten" name="ten" (ionChange)="pricetoggle($event.checked,'5000','10000')"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>10000-15000</ion-label>
                <ion-toggle color="dark" value="15000" [(ngModel)]="price.fifteen" name="fifteen" (ionChange)="pricetoggle($event.checked,'10000','15000')"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label>15000-30000</ion-label>
                <ion-toggle color="dark" value="30000" [(ngModel)]="price.thirty" name="thirty" (ionChange)="pricetoggle($event.checked,'15000','30000')"></ion-toggle>
              </ion-item>
              
              <ion-item>
                <ion-label>30000 +</ion-label>
                <ion-toggle color="dark" value="100000" [(ngModel)]="price.lakhs" name="lakhs" (ionChange)="pricetoggle($event.checked,'30000','100000')"></ion-toggle>
              </ion-item>

            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <button type="submit" class="lbtn" ion-button icon-start block color="dark" tappable> SEARCH </button>
        </ion-col>
    </ion-row>
</form>
</ion-grid>
</ion-content>