page-vendorsproduct {
	ins{
        text-decoration: none;
    }
    
    .productimg{
        background: #fff;
        border-left: 2px solid #eee;
        border-right: 2px solid #eee;
    }
    .favbtn{
        color: #999;
        border-radius: 50%;
        padding: 9px 11px;
        margin-top: -21px;
        position: relative;
    }
    
    .noproduct{
        width:90%;
        margin: 9px 21px !important;
    }

    .userimage {
     border-radius:50%;
    }
    .products .scroll-content{
        background-color: rgba(158, 158, 158, 0.08);
    }

    .proimg {
        height: 150px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .wishlistnocolor{
        color: #999;
        //border-radius: 50%;
        //padding: 9px 11px;
        //margin-top: -21px;
        //position: relative;
    }

    .wishlistcolor{
        color: #fd1d16;
        //border-radius: 50%;
        //padding: 9px 11px;
        //margin-top: -21px;
        //position: relative;
    }
    .search{
     padding-top:8px;
    }

    .cart img{
        height: 30px;
        width: 37px;
    }

    .cart{
        padding-top: 8px;
    }

    .d-flex {
        display: flex;
        align-items: center;
        padding: 0 8px;
        p {
            font-size: .9rem;
            color: #a8a8a8;
            padding-left: 4px;
        }
    }
    .text-light {
        text-decoration: line-through;
        color: #b3b3b3 !important;
    }
    .mr-8 {
        margin-right: 8px;
    }
    .icon-box {
        margin-left: auto !important;
        .icon {
            width: 64px;
            background: $white-color;
            text-align: center;
            line-height: 25px;
            margin: 10px 0 4px 0;
            border-radius: 5px;
            margin-left: 5px;
            font-size: .9rem;
            color: #8e8e8e;
            padding: 0 5px;
            span {
                padding-left: 8px;
            }
        }
    }
    .row {
        padding: 2px 3px !important;
    }
    .card {
        width: 100% !important;
        margin: 0 !important;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 5px !important;
        .card-header {
            position: relative;
            padding: 7px !important;
            padding-bottom: 0px !important;
            white-space: normal;
            h5 {
                font-size: 1.1rem;
                font-weight: 600;
                color: #000;
                height: 28px;
                overflow: hidden;
            }
            small {
                font-size: .9rem;
                display: block;
            }
            .img-box {
                width: 100px;
                margin: 10px auto;
                height: 100px;
                position: relative;
                img {
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
        .card-content {
            padding: 0 10px !important;
            padding-bottom: 6px !important;
            display: flex;
            align-items: center;
            p {
                font-size: .95rem;
                margin-right: auto;
                font-weight: 700;
                span {
                    font-weight: 400 !important;
                }
            }
            .btn {
                margin-left: auto;
                font-size: .9rem;
                font-weight: 600;
                width: 45px;
                text-align: center;
                border-radius: 3px;
                line-height: 19px;
                background: lighten($bg-color, 10%);
                background: #4dd711;
            }
        }
    }
    .back-button {
        display: block;
    }
    .header {
        .toolbar-title {
            .icon-box {
                margin-left: 0;
                ion-badge {
                    //background-color: #488aff;
                    position: absolute;
                    text-align: center;
                    right: 10px;
                    top: 9px;
                    font-size: 1.1rem;
                    font-weight: 500;
                    //border-radius: 50%;
                    line-height: 14px;
                    padding: 2px 6px;
                }
            }
        }
    }
}
