<ion-header>
    <ion-navbar hideBackButton="true">
        <button style="background-color:transparent;float:left" ion-button (click)="dismiss()">
            <ion-icon style="!important; font-size:2.4rem;color:#000" name="md-arrow-back"></ion-icon>
        </button>
        <ion-title>
            <p text-start no-margin padding-left style="padding-top:12px;">
                 <ion-icon name="lock" no-margin></ion-icon> <span padding-left>Secure Checkout</span>
            </p>
        </ion-title>
    </ion-navbar>
    
</ion-header>

<ion-content class="secure">
    <ion-row no-padding class="appbtn-color text-color" style="margin-top: 10px;">
        <ion-col col-1>
            <ion-icon name="checkmark-circle" padding ></ion-icon>
        </ion-col>
        <ion-col col-11>
            <p no-margin class="appbtn-color text-color" style="padding:10px;">  Customer Service available from 11am to 5pm IST, Monday to Friday</p>
        </ion-col>
    </ion-row>

    <div class="your-cart">
        <ion-card *ngFor="let item of cartItems">
            <ion-card-content>
                <ion-row>
                    <ion-col col-3>
                        <div *ngIf="item.product.images && item.product.images.length" class="img-box">
                            <img data-src="{{item.product.images[0].src}}">
                        </div>
                        <div *ngIf="item.product.images == null || item.product.images.length == 0" class="img-box">
                            <img src="assets/imgs/suit_PNG8132.png">
                        </div>
                    </ion-col>
                    <ion-col col-9>
                        <h4>{{item.product.name}}
                            <ion-icon name="ios-trash-outline" class="icon text-light" (click)="removeItem(item.product)"></ion-icon>
                        </h4>
                        <div class="price shadow-bottom bg-white">
                            <div class="d-flex">
                                <p [innerHTML]="item.product.sale_price_html">
                                </p>
                                <div class="d-flex btn-grup">
                                    <button class="btn text-white" color="dark" (click)="incrementItem(item.product)">
                                        +
                                    </button>
                                    <span>{{item.quantity}}</span>
                                    <button class="btn text-white" color="dark" (click)="decrementItem(item.product)">
                                        -
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row class="checkout">
        <ion-col col-6>
            <h6>
                Total
                <span [innerHTML]="total_html"></span>
            </h6>
        </ion-col>
        <ion-col col-6>
            <button ion-button full color="dark" class="btn-round btn-text appbtn-color text-color" (click)="proceedCheckout()">{{checkoutText}}</button>
        </ion-col>
    </ion-row>
 </ion-toolbar>
</ion-footer>