page-profile {
	.cart img{
        height: 33px;
        width: 41px;
    }
    .userimage {
        border-radius:50%;
    }
    .cart{
        padding-top: 8px;
    }
    .profileimage{
	    background: #ddd;
	    border-radius: 50%;
	    height: 100px;
	    width: 100px;
    }
    .profileimage ion-icon {
    	font-size:6.2em;
    	color:#fff;
    }
    .bottommenu{
    	background: rgba(158, 158, 158, 0.23) !important;
    	height: 40%;
    }
}


    