<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <p float-left padding-left> Profile</p>
            <!-- <p class="icon-box cart" (click)="cartPage()" float-right no-margin>
                <img src="assets/imgs/cart.png">
                <ion-badge>{{cartTotal}}</ion-badge>
            </p> -->
            <p float-right no-margin padding-right padding-top class="search" (click)="search()">
                <ion-icon name="search"></ion-icon>
            </p>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding style="background: rgb(244, 244, 244);">
  <div align="center">
  	<p class="profileimage" (click)="profileimage()">
    	<ion-icon name="person" color="medium" *ngIf="!user || !profile"></ion-icon>
      <img [src]="profile" *ngIf = "user && profile" class="userimage">
	 </p>
	<p>{{user.first_name}} <span>{{user.last_name}}</span></p>
	<p>{{user.username}}</p>
  </div>
  <hr>
<div class="bottommenu" padding-top>  
  <ion-row>
  	<ion-col>
  		<button menuClose ion-item (click)="myorders()" class="menustext">
           <img src="assets/icon/exclusive.png"> <span>My Orders </span>
         </button>
  	</ion-col>
  </ion-row>

  <ion-row>
  	<ion-col>
  		<button menuClose ion-item (click)="myaccount()" class="menustext">
           <img src="assets/icon/exhibitions.png"> <span>My Account </span>
         </button>
  	</ion-col>
  </ion-row>
</div>
</ion-content>