page-conaddress {
    .toolbar-content,
    .d-flex {
        display: flex;
        align-items: center;
    }
    .address-section {
        width: 100%;
        .card {
            width: auto;
            margin: 0;
            .card-content {
                padding: 0 30px 10px 30px !important;
            }
            .addres-detail {
                padding-left: 2rem;
                h3 {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    align-items: center;
                    .icon-position {
                        position: absolute;
                        margin-left: -2rem;
                        margin-top: 1px;
                    }
                    span {
                        margin-left: auto;
                        color: #007ce6;
                        .icon {
                            margin-left: 5px;
                            font-size: 1.2rem;
                        }
                    }
                }
                p {
                    font-size: 1.1rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: #000;
                }
            }
        }
    }
    .card-header {
        border-bottom: 1px solid #ccc;
        padding: 10px 25px;
        margin-bottom: 10px;
        p {
            align-items: center;
            margin: 0 !important;
            width: 100%;
            font-weight: 500 !important;
            font-size: 1.2rem;
            color: #7c7c7c;
            display: flex;
            span {
                margin-left: auto;
                position: relative;
                padding-right: 16px;
                font-weight: 600;
                .icon {
                    margin-left: 10px;
                    margin-top: 3px;
                    position: absolute;
                }
            }
        }
    }
    .your-items {
        .card {
            width: auto;
            margin: 6px;
            .card-content {
                padding-right: 11px !important;
                border-bottom: 1px solid #ddd;
                padding-bottom: 0;
            }
        }
        .img-box {
            width: 80px;
            margin: 0 auto;
            height: 80px;
            position: relative;
            img {
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        h4 {
            font-size: 1.2rem !important;
            font-weight: 500 !important;
            letter-spacing: 1px;
            height: 28px;
            overflow: hidden;
            text-overflow: ellipsis
        }
        p {
            font-size: 1.2rem;
            font-weight: 700;
            margin: 7px 0px;
            span {
                font-weight: 400 !important;
                margin-left: 7px;
                ion-icon {
                    margin-left: 7px;
                }
            }
        }
        .price {
            padding-top: 0px;
            p {
                font-weight: 500;
            }
            .btn-grup {
                margin-left: auto;
                span {
                    font-size: 1rem;
                    font-weight: 700;
                    margin: 0 10px;
                }
                .btn {
                    font-size: 2rem;
                    font-weight: 400;
                    width: 35px;
                    text-align: center;
                    line-height: 3rem;
                    color: #9e9e9e;
                }
            }
        }
        .card-bottom {
            display: flex;
            align-items: center;
            font-size: 1rem;
            letter-spacing: 1px;
            .small {
                margin-left: auto;
                font-weight: 500;
                font-size: 1.1rem;
            }
        }
    }
    .receipt {
        .card {
            width: auto;
            margin: 0 !important;
            box-shadow: none;
            .card-header {
                p {
                    font-size: 1.2rem !important;
                    color: #000 !important;
                    line-height: 26px;
                    span {
                        display: flex;
                        align-items: center;
                        padding-right: 0 !important;
                        img {
                            width: 8px;
                            margin-right: 4px;
                        }
                    }
                }
            }
            .card-content {
                padding-bottom: 0 !important;
                p {
                    font-size: 1.3rem !important;
                    color: #000 !important;
                    line-height: 20px;
                    display: flex;
                    font-weight: 600;
                    padding: 0 8px 5px 9px;
                    span {
                        display: flex;
                        align-items: center;
                        padding-right: 0 !important;
                        margin-left: auto;
                        img {
                            width: 8px;
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
    .mr-5 {
        margin-right: 5px;
    }
    .spacebar-bottom {
        height: 195px;
        display: block;
    }
    .btn-fisx-bottom {
        height: 194px;
        background: $white-color;
        .card-header {
            padding: 10px 25px;
            div {
                font-size: 1.2rem;
                font-weight: 500;
                padding: 8px 0 8px;
            }
        }
    }
    .status {
        padding: 10px;
        font-size: 1rem;
        span {
            display: block;
            position: relative;
            margin-bottom: .5rem;
            color: #777;
        }
        ion-icon {
            font-size: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            display: block;
            margin: auto;
            margin-bottom: .7rem;
        }
        .processing,
        .complate {
            position: relative;
            ion-icon {
                color: #39c525;
                position: relative;
                z-index: 1
            }
        }
        .processing span {
            color: #000;
        }
        .processing::after,
        .processing::before {
            content: '';
            display: block;
            position: absolute;
            width: calc(100% - 1rem);
            height: 1px;
            top: 12px;
            margin-bottom: auto;
            z-index: -2;
        }
        .processing::after {
            background: #ccc;
            right: calc(-50% + .5rem);
        }
        .processing::before {
            background: #39c525;
            left: calc(-50% + .5rem);
        }
        .panding {
            ion-icon {
                border-radius: 50%;
                background: #ccc;
            }
        }
    }
    .button-full {
        margin-left: -10px;
        margin-right: -10px;
        width: calc(100% + 20px);
    }
    .cross {
        background: #f00;
        color: #fff;
        width: 15px;
        height: 15px;
        text-align: center;
        border-radius: 50%;
        line-height: 15px;
        font-size: 1.3rem;
        margin-left: 5px;
    }
    .toolbar-content-ios .toolbar-title-ios {
        //margin-top: 36px;
    }
}
