<ion-header>
    <ion-navbar hideBackButton="true">
        <button style="background-color:transparent;" ion-button (click)="goBack()">
            <ion-icon style="!important; font-size:2.4rem;color:#000;" name="md-arrow-back"></ion-icon>
        </button>
        <ion-title>Confirm address</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div class="address-section">
        <ion-row text-center class="status">
            <ion-col class="panding">
                <ion-icon name="ion-record"></ion-icon>
                <span>Address</span>
            </ion-col>
            <ion-col class="panding">
                <ion-icon name="ion-record"></ion-icon>
                <span>Shipping</span>
            </ion-col>
            <ion-col class="panding">
                <ion-icon name="ion-record"></ion-icon>
                <span>Payment</span>
            </ion-col>
        </ion-row>
        <ion-card>
            <ion-card-header>
                <p>
                    YOUR DELIVERY ADDRESS
                    <span class="black-color" (click)="addressPage()">{{addressChangeText}}
                        <ion-icon name="ios-arrow-forward" class="icon"></ion-icon>
                    </span>
                </p>
            </ion-card-header>
            <ion-card-content *ngIf="!selectedAddress">
                <div class="addres-detail">
                    <h3>
                        <ion-icon name="ios-pin-outline" class="icon-position"></ion-icon>No address selected
                    </h3>
                    <p>Add an address to continue.</p>
                </div>
            </ion-card-content>
            <ion-card-content *ngIf="selectedAddress">
                <div class="addres-detail">
                    <h3>
                        <ion-icon name="ios-pin-outline" class="icon-position"></ion-icon>{{selectedAddress.first_name}}
                    </h3>
                    <p>{{selectedAddress.address_1}}, {{selectedAddress.address_2}}
                        <br> {{selectedAddress.city}}</p>
                    <p>{{selectedAddress.phone}}</p>
                </div>
            </ion-card-content>
            <p *ngIf="shippingMethods && shippingMethods.length" text-center padding-bottom margin-bottom>Choose shipping</p>
            <ion-card *ngIf="shippingMethods && shippingMethods.length">
                <label ion-item *ngFor="let shipping of shippingMethods" class="text-black">
                    <ion-label>{{shipping.title}} ({{shipping.cost}})</ion-label>
                    <ion-radio ng-model="selection" ng-value="shipping.id" (click)="setDefaultShipping(shipping)"></ion-radio>
                </label>
            </ion-card>
        </ion-card>
    </div>
</ion-content>
<ion-footer>
    <ion-card-content>
        <button ion-button full class="btn-round btn-text appbtn-color" (click)="confirm()" style="width:100%">Continue</button>
    </ion-card-content>
</ion-footer>