page-home {

    .catnamesize{
     font-size: 12px;
    }

    .button-ios {
        font-size: 1.5rem;
        background-color: #893652!important;
        width: 100% !important;
        border-radius: 0px !important;
    }
    #places{
        background-image: url('../assets/imgs/places.jpg');
        background-size:cover;
        height: 63px;
        background-position: center;
    }
    #delivery{
        background-image: url('../assets/imgs/world.png');
        background-size:cover;
        height: 55px;
        background-position: center;
    }

    #reduction{
        background-image: url('../assets/imgs/reduction.jpg');
        background-size:cover;
        height: 48px;
        background-position: center;
    }

    #wishlist{
        background-image: url('../assets/imgs/wishlist.png');
        background-size:cover;
        height: 48px;
        background-position: center;
    }

    #madeonorder{
        background-image: url('../assets/imgs/orders.jpg');
        background-size:cover;
        height: 41px;
        background-position: center;
    }

     #exhibation{
        background-image: url('../assets/imgs/exhibitions.jpg');
        background-size:cover;
        height: 138px;
        background-position: center;
    }

     #category{
        background-image: url('../assets/imgs/category.jpg');
        background-size:cover;
        height: 56px;
        background-position: center;
    }

    .toolbar-title-md{
        padding:0px!important;
    }
    .col {
        padding:0px;
    }
    .apptitle{
        font-size: 16px;
        padding: 5px 2px!important;
    }
    .apptitle img{
        width:83px;
        height:auto;
        display: block;
        margin: 0 auto;
    }
    .welcome-card ion-img {
        max-height: 35vh;
        overflow: hidden;
    }

    .userimg{
        background: #c2bfbf;
        border-radius: 50%;
        padding: 7px 9px;
        margin-top: 3px;
    }

    .banner-bottomrow{
        margin-top:-11px;
    }
    
    .userimgphoto{
        border-radius: 50%;
        padding: 7px 9px;
        margin-top: 3px;
        max-width:87%;
    }


    .bannerslider{
        margin-bottom: 0px;
    }

    .newinn ion-icon {
        padding-left:5px;
        margin-top: -2px;
    }

    .newinn span {
        font-family:'london';
    }
    .cart img{
        height: 33px;
        width: 41px;
    }
    .cart ion-badge{
        position: relative;
        right: 21px;
        bottom: 12px;
        top: -16px;
        padding: 2px 5px;
        font-size: 12px;
    }
    .inner{
        .card-ios
        {
            margin:1px;
        }

        ion-card{
            background:#fff;
            border: 2px solid #8a3753;
            border-right: 1px solid #8a3753;
            box-shadow: none;
            border-radius:0px!important;;
            width: 255px;
            margin:1px!important;
        }
        img{
            padding: 0px;
            height: 80px;
            width: 100%;
        }
        h5{
            font-size: 1.5rem;
        }
        p{
            font-size: 13px;
        }
    }
    
    .rowcolor{
        background:#e0e0e066;
    }

    .insta {
        ion-card{
            background:#fff;
            box-shadow: none;
            width: 255px;
            margin:0px;
        }
        img{
            padding: 4px;
            height: 230px;
            width: 450px;
        }
    }
}


