<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          <ion-row>
              <ion-col (click)="accountPage()">
                <ion-icon name="person" color="medium" class="userimg" *ngIf="!user || !profile"></ion-icon>
                <img [src]="profile" *ngIf = "user && profile" class="userimagephoto" style="border-radius: 50%; padding:6px;" id="profilephoto">
              </ion-col>
              <ion-col col-6 size="6" text-center class="apptitle"> 
               <!-- LONDON <span style="color:#ccc">MARKET</span> -->
               <img src="assets/imgs/logo.png">
              </ion-col>
              <ion-col text-center padding-top (click)="searchPage()">
                <ion-icon name="search"></ion-icon>
              </ion-col>
              <ion-col (click)="cartPage()" class="cart">
                 <img src="assets/imgs/cart.png">
                 <ion-badge *ngIf="cartTotal>0">{{cartTotal}}</ion-badge>
              </ion-col>
          </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content style="background: #fbd2e0!important;" >
  <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <ion-row no-padding style="margin-bottom:-4px;">
      <ion-col no-padding *ngIf="banners && banners.length"> 
        <img [src]="banners[0].img_src" class="slide-image" (click)="categoryall(banners[0].category)"/>
        <!-- <ion-slides class="bannerslider" autoplay="2000" loop="true" pager *ngIf="banners && banners.length" dir="ltr"> -->
            <!-- <ion-slide >
                <img [src]="banners[0].img_src" class="slide-image" (click)="vendorPage(banners[0].category)" />
            </ion-slide>-->
            <!-- <ion-slide >
                <img [src]="banners[1].img_src" class="slide-image" (click)="categoryall(banners[0].category)" />
            </ion-slide>  -->
            <!-- <ion-slide >
                <img [src]="banners[4].img_src" class="slide-image" (click)="shopPage()" />
            </ion-slide> -->
            <!-- <ion-slide >
                <img [src]="banners[2].img_src" class="slide-image" (click)="shopPage()" />
            </ion-slide>
            <ion-slide >
                <img [src]="banners[3].img_src" class="slide-image" (click)="categoryall(banners[3].category)" />
            </ion-slide> -->
       <!--  </ion-slides> -->
      </ion-col>
    </ion-row>

    <ion-row class="rowcolor" padding id="places">
      <ion-col>
        <div text-start>
        
        </div>
      </ion-col>
      <ion-col>
        <!-- <div text-end class="newinn" (click)="categoryPage(homecatobj[0])">
          <span>VIEW ALL </span> <ion-icon name="arrow-forward"></ion-icon>
        </div> -->
      </ion-col>
    </ion-row>

    <ion-row class="rowcolor">
      <ion-col no-padding>
        <ion-scroll scrollX="true" style="width:100vw; height:86px" class="item">
            <ion-row nowrap>
              
              <div class="inner">
                  <ion-card>
                     <img src="assets/imgs/kolkata.png" (click)="productbycity(246)">
                  </ion-card>
                  <!-- <h5 padding-left (click)="productbycity(246)">Kolkatta</h5> -->
              </div>

              <div class="inner">
                  <ion-card>
                     <img src="assets/imgs/mumbai.png" (click)="productbycity(247)">
                  </ion-card>
                  <!-- <h5 padding-left (click)="productbycity(247)">Mumbai</h5> -->
              </div>

              <div class="inner">
                  <ion-card>
                     <img src="assets/imgs/jaipur.png" (click)="productbycity(245)">
                  </ion-card>
                 <!--  <h5 padding-left (click)="productbycity(245)">Jaipur</h5> -->
              </div>

              <div class="inner">
                  <ion-card>
                     <img src="assets/imgs/ahmedabad.png" (click)="productbycity(255)">
                  </ion-card>
                  <!-- <h5 padding-left (click)="productbycity(255)">Ahmedabad</h5> -->
              </div>

              <div class="inner">
                  <ion-card>
                     <img src="assets/imgs/delhi.png" (click)="productbycity(248)">
                  </ion-card>
                  <!-- <h5 padding-left (click)="productbycity(248)">Delhi NCR</h5> -->
              </div>
              
              <div class="inner">
                  <ion-card>
                     <img src="assets/imgs/pune.png" (click)="productbycity(256)">
                  </ion-card>
                  <!-- <h5 padding-left (click)="productbycity(256)">Pune</h5> -->
              </div>

               <div class="inner">
                  <ion-card>
                     <img src="assets/imgs/punjab.png" (click)="productbycity(249)">
                  </ion-card>
                 <!--  <h5 padding-left (click)="productbycity(249)">Punjab</h5> -->
              </div>

              
              
              <div class="inner">
                  <ion-card>
                     <img src="assets/imgs/inter.png" (click)="productbycity(250)">
                  </ion-card>
                  <!-- <h5 padding-left (click)="productbycity(250)">International</h5> -->
              </div>
             
              
               
              <!-- <div class="inner">
                  <ion-card>
                     <img src="assets/imgs/dubai.png" (click)="productbycity(251)">
                  </ion-card>
                  <h5 padding-left (click)="productbycity(251)">Dubai</h5>
              </div> -->
            </ion-row>
        </ion-scroll>
      </ion-col>
    </ion-row>
<!-- world wide delivery -->
    <ion-row padding id="delivery">
      <ion-col>
        <div text-start>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding: 3px 0px 0px 0px;" *ngIf="banners && banners.length">
        <div text-start *ngIf="banners && banners.length">
          <a (click)="justinpage()">
            <img [src]="banners[6].img_src">
          </a>
        </div>
      </ion-col>
    </ion-row>
<!-- end -->
<!-- Reduction delivery -->
     <a (click)="tagspage(262)"> 
      <ion-row padding id="reduction">
        <ion-col>
          <div text-start>
          </div>
        </ion-col>
      </ion-row>
     </a>

    <ion-row>
      <ion-col style="padding: 3px 0px 0px 0px;" *ngIf="banners && banners.length">
        <div text-start *ngIf="banners && banners.length">
          <a (click)="seasions()">
            <img [src]="banners[7].img_src">
          </a>
        </div>
      </ion-col>
    </ion-row>
<!-- end -->

<!-- Wishlist delivery -->
  <a (click)="wishlistPage()"> 
    <ion-row padding id="wishlist">
      <ion-col>
        <div text-start>
        </div>
      </ion-col>
    </ion-row>
  </a>

    <ion-row>
      <ion-col style="padding: 3px 0px 0px 0px;" *ngIf="banners && banners.length">
        <div text-start *ngIf="banners && banners.length">
          <a (click)="designers()">
            <img [src]="banners[8].img_src">
          </a>
        </div>
      </ion-col>
    </ion-row>
<!-- end -->

  <!-- Exhibations -->
   <a (click)="madeonorder()"> 
    <ion-row padding id="madeonorder">
        <ion-col>
          <div text-start>
          </div>
        </ion-col>
      
    </ion-row>
   </a>

<!-- Exhibations -->
   <a (click)="exhibition()"> 
    <ion-row padding id="exhibation">
        <ion-col>
          <div text-start>
          </div>
        </ion-col>
      
    </ion-row>
   </a>

    <ion-row *ngIf="banners && banners.length">
      <ion-col style="padding: 3px 0px 0px 0px;">
          <div *ngFor="let cat of categoriesAll">
            <a *ngIf="cat.id=='162'" (click)='shirtsPage(cat)'>
            <img [src]="banners[9].img_src">
            </a>
          </div>
      </ion-col>
    </ion-row>
<!-- end -->

<!-- Category -->
    <ion-row padding id="category">
      <ion-col>
        <div text-start>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: -4px;">
        <ion-col col-4 class="insta" *ngFor="let cat of categoriesAll; let i = index;" style="height:46px; padding:2px!important">
              <button ion-button (click)="Category_Page(cat.id)" id="catebtn" style="background-color: #893652!important;
        width: 100% !important; border-radius: 0px !important;height: 4rem;">
               <!--  <img *ngIf="cat.image != null" data-src="{{cat.image.src}}"> -->
               <span [innerHTML]=cat.name class="catnamesize"> </span>
              </button>
        </ion-col>
    </ion-row>
<!-- end -->

      <ion-row no-padding class="bg-white" style="padding:5px;">
          
      </ion-row>
 
</ion-content>