<ion-header class="bg-thime">
    <ion-navbar>
        <button ion-button menuToggle>
            <img src="assets/imgs/ic_menu.png">
        </button>
        <ion-title>Help Center
            <!-- <span float-right>
                <ion-icon name="ios-cart-outline" class="icon" (click)="cartPage()"></ion-icon>
            </span> -->
        </ion-title>
    </ion-navbar>
    <!--    <ion-searchbar (ionInput)="getItems($event)" (click)="searchPage()"></ion-searchbar>-->
    <ion-list>
        <ion-item *ngFor="let item of items">
            {{ item }}
        </ion-item>
    </ion-list>
</ion-header>

<ion-content class="bg-light">
    <h6 padding-left>FAQ</h6>
    <ion-card>
        <ion-card-header (click)="faqExpandToggle1()">
            Delivery
            <ion-icon *ngIf="!faqExpand1" name="ios-arrow-down-outline" float-right></ion-icon>
            <ion-icon *ngIf="faqExpand1" name="ios-arrow-up-outline" float-right></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="faqExpand1" class="text-light">
           All deliveries are made through a 3rd party delivery company closer to you. We make sure you get your items as quickly as possible, that is why we use trusted delivery companies closer to you. All items are delivered safely and on time. Delivery takes between 30 minutes to a maximum period of 6hours. More information about deliveries procedure, timing or questions, kindly forward all messages to info@fresh-crops.com
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
           All deliveries are made through a 3rd party delivery company closer to you. We make sure you get your items as quickly as possible, that is why we use trusted delivery companies closer to you. All items are delivered safely and on time. Delivery takes between 30 minutes to a maximum period of 6hours. More information about deliveries procedure, timing or questions, kindly forward all messages to info@fresh-crops.com
            <ion-icon *ngIf="!faqExpand2" name="ios-arrow-down-outline" float-right (click)="faqExpandToggle2()"></ion-icon>
            <ion-icon *ngIf="faqExpand2" name="ios-arrow-up-outline" float-right (click)="faqExpandToggle2()"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="faqExpand2" class="text-light">
            Its advisable to cancel any order before finalizing your order for payment. Any order not finalized 5 minutes after payment can not be refunded or exchanged for something else in the store, and therefore the items will be delivered as ordered. No refund or exchange is accepted by grocery stores. Please kindly crosscheck all orders and recheck after adding to cart. We are not responsible for any mistake made when placing your order and we do not refund or exchange in such cases. For more information please contact info@fresh-crops.com
        </ion-card-content>
    </ion-card>

</ion-content>