page-gifting {
	
	.gifttitle{
		background::#e3decb;
	}
	.giftbanner h1{
		text-align: center;
	    font-size: 5em;
	    font-weight: 800;
	    padding: 58px 5px 15px 6px;
	}
	.giftbanner p{
		text-align: center;
	    margin: 0;
	    font-size: 1.8em;
	    font-weight: 100;
	    font-family: london;
	}
	.giftpage{
		background-color: #f6f6f4;
	}
	.giftcat p{
		font-size: 24px;
    	font-family: lon;
	}
}
