<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gifting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="giftpage">
	<ion-row padding class="gifttitle">
		<ion-col class="giftbanner" text-center (click)="categories()">
			<!-- h1> Valentine </h1>
			<p>Valentine's Day</p>
			<button margin-top class="btn-round" style="padding:12px;background: #ffe256;">Shop now <ion-icon name="arrow-dropright"></ion-icon></button> -->
			<img src="{{banners[5].img_src}}" *ngIf="banners && banners.length">
		</ion-col>
	</ion-row>

	<ion-row padding-bottom text-center *ngFor="let gift of categoriesAll" style="border-bottom: 1px solid #ddd;">
		<ion-col class="giftcat" (click)="shirtsPage(gift)">
			<p text-center [innerHTML]="gift.name"></p>
			<img src="{{gift.image.src}}" style="max-width:40%;">
		</ion-col>
	</ion-row>
</ion-content>
