<ion-header class="bg-thime">
    <ion-navbar>
        <ion-title>
            Products By Tags
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="products">
    <br>
    <ion-list>
        <ion-row *ngFor="let products of productsAll">
            <ion-col class="productimg" col-6 *ngFor="let pro of products">
                <div *ngIf="pro.images && pro.images.length" class="img-box" (click)="itemdetailPage(pro)">
                    <img data-src="{{pro.images[0].src}}" class="proimg">
                </div>
                <div *ngIf="pro.images == null || pro.images.length == 0" class="img-box" (click)="itemdetailPage(pro)">
                    <img src="assets/imgs/icon.png" class="proimg">
                </div>
                
                <!-- <p *ngFor="let wish of wishlistproducts">
                  <button fab fab-bottom fab-right float-right class="favbtn" (click)="addtowishlist(pro)" *ngIf="wish.id==pro.id"><ion-icon name="heart" class="wishcolor"></ion-icon></button>
                </p>  -->
                <!-- <button fab fab-bottom fab-right float-right class="favbtn" (click)="addtowishlist(pro)"><ion-icon name="heart" style="color:red;"></ion-icon></button> -->
                <h6 (click)="itemdetailPage(pro)" style="font-size:14px;padding-left:7px;">{{pro.name}}</h6>
                <ion-row>
                    <ion-col><p *ngIf="pro.type =='simple'" [innerHTML]="pro.sale_price_html" no-margin></p>
                    </ion-col>

                    <ion-col><p *ngIf="pro.type =='simple' && pro.regular_price!=pro.sale_price" class="price text-light mr-5" [innerHTML]="pro.regular_price_html" no-margin> </p>
                    </ion-col>
                </ion-row>
                <!-- <p *ngIf="pro.type =='variable'" [innerHTML]="pro.price_html"></p>
                <button *ngIf="pro.type =='simple'" class="btn text-white" (click)="addToCart(pro)">{{ 'add' | translate }}</div> -->
            </ion-col>

             <!-- <ion-col col-6 *ngFor="let pro of products">
                <ion-card>
                    <ion-card-header>
                        <h5 (click)="itemdetailPage(pro)">{{pro.name}}</h5>
                        <div *ngIf="pro.images && pro.images.length" class="img-box" (click)="itemdetailPage(pro)">
                            <img data-src="{{pro.images[0].src}}">
                        </div>
                        <div *ngIf="pro.images == null || pro.images.length == 0" class="img-box" (click)="itemdetailPage(pro)">
                            <img src="assets/imgs/suit_PNG8132.png">
                        </div>
                    </ion-card-header>
                    <ion-card-content>
                        <p *ngIf="pro.type =='simple' && pro.regular_price!=pro.sale_price" class="price text-light mr-5" [innerHTML]="pro.regular_price_html"></p>
                        <p *ngIf="pro.type =='simple'" [innerHTML]="pro.sale_price_html"></p>
                        <p *ngIf="pro.type =='variable'" [innerHTML]="pro.price_html"></p>
                        <div *ngIf="pro.type =='simple'" class="btn text-white" (click)="addToCart(pro)">{{ 'add' | translate }}</div>
                    </ion-card-content>
                </ion-card>
            </ion-col> -->
        </ion-row>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>



    
