page-support {
	.support ion-list ion-item {
		font-size: 13px;
	}

	.support ion-list ion-item-divider {
		font-size: 13px;
		font-weight: 700;
	}

	.toolbar-ios ion-title {
    	padding: 0 0px 0px 0px !important;
	}
}
