<ion-header>

  <ion-navbar>
    <ion-title>Customer support</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--  term and conditions -->
        <div class="support">
            <ion-list>
                <ion-item-divider>
                  <span> CUSTOMER HELPLINE</span>
                </ion-item-divider>

                <ion-item (click)="call(9311788999)">
                   <ion-icon name="call"></ion-icon> 
                    <span padding> +91 9311788999</span>
                </ion-item>

                <ion-item (click)="openemail('smlondonmarket@gmail.com')">
                    <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
                   <span padding> smlondonmarket@gmail.com</span>
                </ion-item>

                <ion-item-divider margin-top>
                     <span (click)="policymodal()" margin-top class="about-section"> TERMS & POLICY</span>
                </ion-item-divider>

            </ion-list>
        </div>
</ion-content>

        