<ion-header class="bg-thime">
    <ion-navbar>
        <ion-title>
            <p [innerHTML]="metadata.value" float-left padding-left></p>
            <p class="icon-box cart" (click)="cartPage()" float-right no-margin>
                <img src="assets/imgs/cart.png">
                <ion-badge>{{cartTotal}}</ion-badge>
            </p>
            <p float-right no-margin padding-right padding-top class="search">
                <ion-icon name="search"></ion-icon>
            </p>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="products">
    <br>
   <!--  <ion-card *ngIf="!productsAll.length" class="noproduct">
        <ion-card-content>
            <h3 padding>No Products Found</h3>
        </ion-card-content>
    </ion-card> -->
    <ion-list>
        <ion-row *ngFor="let products of productsAll">
            <ion-col class="productimg" col-6 *ngFor="let pro of products">
                <div *ngIf="pro.images && pro.images.length" class="img-box" (click)="itemdetailPage(pro)">
                    <img data-src="{{pro.images[0].src}}" class="proimg">
                </div>
                <div *ngIf="pro.images == null || pro.images.length == 0" class="img-box" (click)="itemdetailPage(pro)">
                    <img src="assets/imgs/suit_PNG8132.png" class="proimg">
                </div>
              
                 <button fab fab-bottom fab-right float-right class="favbtn" (click)="addtowishlist(pro,pro.index)"  ><ion-icon name="heart" [ngClass]="other[pro.index] ? 'wishlistcolor' : 'wishlistnocolor'"></ion-icon></button> 

                <!-- <button fab fab-bottom fab-right float-right class="favbtn" (click)="addtowishlist(pro) [ngStyle]="{'color':pro.wishlist=='true'?'#fd1d16':'#999'}"><ion-icon name="heart" style="color:red;"></ion-icon></button> -->
                <h6 (click)="itemdetailPage(pro)" style="font-size:14px;">{{pro.name}}</h6>
                <ion-row>
                    <ion-col><p *ngIf="pro.type =='simple' && pro.regular_price!=pro.sale_price" class="price text-light mr-5" [innerHTML]="pro.regular_price_html" no-margin> </p>
                    </ion-col>

                    <ion-col><p *ngIf="pro.type =='simple'" [innerHTML]="pro.sale_price_html" no-margin></p>
                    </ion-col>
                </ion-row>
                <!-- <p *ngIf="pro.type =='variable'" [innerHTML]="pro.price_html"></p>
                <button *ngIf="pro.type =='simple'" class="btn text-white" (click)="addToCart(pro)">{{ 'add' | translate }}</div> -->
            </ion-col>

             <!-- <ion-col col-6 *ngFor="let pro of products">
                <ion-card>
                    <ion-card-header>
                        <h5 (click)="itemdetailPage(pro)">{{pro.name}}</h5>
                        <div *ngIf="pro.images && pro.images.length" class="img-box" (click)="itemdetailPage(pro)">
                            <img data-src="{{pro.images[0].src}}">
                        </div>
                        <div *ngIf="pro.images == null || pro.images.length == 0" class="img-box" (click)="itemdetailPage(pro)">
                            <img src="assets/imgs/suit_PNG8132.png">
                        </div>
                    </ion-card-header>
                    <ion-card-content>
                        <p *ngIf="pro.type =='simple' && pro.regular_price!=pro.sale_price" class="price text-light mr-5" [innerHTML]="pro.regular_price_html"></p>
                        <p *ngIf="pro.type =='simple'" [innerHTML]="pro.sale_price_html"></p>
                        <p *ngIf="pro.type =='variable'" [innerHTML]="pro.price_html"></p>
                        <div *ngIf="pro.type =='simple'" class="btn text-white" (click)="addToCart(pro)">{{ 'add' | translate }}</div>
                    </ion-card-content>
                </ion-card>
            </ion-col> -->
        </ion-row>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>



    

