<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Account
            <!-- <span float-right>
                <ion-icon padding-right name="ios-search-outline" class="icon" (click)="searchPage()"></ion-icon>
                <ion-icon name="ios-cart-outline" class="icon" (click)="cartPage()"></ion-icon>
            </span> -->
        </ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top class="tab-bar">
        <ion-segment [(ngModel)]="account">
            <ion-segment-button value="profile">
               Profile
            </ion-segment-button>
            <ion-segment-button value="address">
                Default address
            </ion-segment-button>

            <ion-segment-button value="term">
               Term & Conditions
            </ion-segment-button>

        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="account">
        <div *ngSwitchCase="'profile'" class="profile-section">
            <ion-list>
                <ion-item>
                    <ion-label floating>Phone number</ion-label>
                    <ion-input type="text" [readonly]="isReadonly()" [(ngModel)]="user.username"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input type="text" [readonly]="isReadonly()" [(ngModel)]="user.email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>First name</ion-label>
                    <ion-input type="text" [(ngModel)]="user.first_name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Last name</ion-label>
                    <ion-input type="text" [(ngModel)]="user.last_name"></ion-input>
                </ion-item>

                 <!-- <ion-item *ngIf="selectedAddress">
                    <ion-label floating>Address1</ion-label>
                    <ion-input type="text" [(ngModel)]="user.address_1"></ion-input>
                </ion-item>

                 <ion-item *ngIf="selectedAddress">
                    <ion-label floating>Address2</ion-label>
                    <ion-input type="text" [(ngModel)]="user.address_2"></ion-input>
                </ion-item> -->

            </ion-list>
            <div class="btn-fisx-bottom ">
                <button ion-button full class="bg-thime btn-round btn-text" (click)="updateInfo()">Update info</button>
            </div>
        </div>

        <div *ngSwitchCase="'address'" class="address-section bg-light" style="min-height: calc(100vh - 98px);">
            <ion-card>
                <p class="address-name" style="float:right;position:relative;top: 10px;right:  10px;">
                    <span class="black-color" (click)="addressPage()">{{addressChangeText}}
                        <ion-icon name="ios-arrow-forward" class="icon"></ion-icon>
                    </span>
                </p>

                <ion-card-content *ngIf="selectedAddress">
                    <div class="addres-detail">
                        <h3>
                            <ion-icon name="ios-pin-outline" class="icon-position"></ion-icon>{{selectedAddress.first_name}}
                        </h3>
                        <p>{{selectedAddress.address_1}}
                            <br> {{selectedAddress.city}}</p>
                        <p>{{selectedAddress.phone}}</p>
                    </div>
                </ion-card-content>
                <ion-card-content *ngIf="!selectedAddress">
                    <div class="addres-detail">
                        <h3>
                            <ion-icon name="ios-pin-outline" class="icon-position"></ion-icon>No address selected
                        </h3>
                        <p>Add an address to continue.</p>
                    </div>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-content *ngIf="!selectedAddress">
                    <div class="addres-detail" (click)="addressPage()">
                        <h3 class="text-light">
                            <ion-icon name="ios-add-circle-outline" class="icon-position text-light"></ion-icon>SET DEFAULT ADDRESS
                        </h3>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>

        <!--  term and conditions -->
        <div *ngSwitchCase="'term'" class="term-section">
            <ion-list>
                <ion-item-divider>
                   LEGAL
                </ion-item-divider>

                <ion-item>
                    <span (click)="term()">Term & Conditions</span>
                </ion-item>
               
                <ion-item-divider>
                  <span> CUSTOMER SERVICE</span>
                </ion-item-divider>

                <ion-item (click)="call(9311788999)">
                   <ion-icon name="call"></ion-icon> 
                    <span padding> +91 9311788999</span>
                </ion-item>

                <ion-item (click)="openemail('smlondonmarket@gmail.com')">
                    <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
                   <span padding> smlondonmarket@gmail.com</span>
                </ion-item>
            </ion-list>

        </div>
        <!-- end -->
    </div>
</ion-content>