<ion-header>
  <ion-navbar>
    <ion-title>Footwear size
    	<span float-end>
            <ion-icon name="md-close" class="close-icon" (click)="dismisspage()" style="font-size:1.8em!important;"></ion-icon>
        </span>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<img src="https://prptests.com/london/wp-content/uploads/2019/06/fsize.jpeg">
</ion-content>
