page-subcategory {
    
    .shoplist .label-md {
        margin: 8px 8px 9px 0!important;
    }
    
    .subcategorycontent .scroll-content{
         background-color: rgba(158, 158, 158, 0.08);
    }
    .list-md .item-block .item-inner {
        border-bottom: none;
    }
    
	.shopsearchbar .searchbar-input{
        background:#fff!important;
    }
    .shopsearchbar{
        padding: 4px 58px;
    }
    .shopitems{
        padding-top: 0px;
    }
    .shoplist
    {
        ion-item{
         width:95%;
         border-radius:5px!important;
         margin-left:8px !important;
         margin-right:5px !important;
        }
       
    }
    .shoplist .item-ios.item-block .item-inner{
        border:none;
    }

    .shoplist .item-block:first-child{
        border-top:none;
    }

    .shoplist .item-block:last-child{
        border-bottom:none;
    }
    
    .list .item-avatar.list-purple {
        color: #FFF;
        background-color: #b31f6f!important;  
    }
}
