<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-searchbar class="shopsearchbar" (click)="searchPage()"></ion-searchbar>
    </ion-navbar>
</ion-header>
<ion-content class="subcategorycontent">

    <ion-list class="shoplist" *ngIf="catp!=undefined && catp=='catwithp'">
        <ion-item margin-top *ngFor="let cat of catsToShow | slice:1"> <!-- | slice:0 -->
            <button menuClose ion-item *ngIf="cat.parent != 0" (click)="Category_Page(cat)" class="shopbutton">
               <!--  <ion-avatar slot="start" class="hydrated" float-left>
                     <img src="{{cat.image.src}}" style="object-fit: cover;object-position: top;" *ngIf='cat.image.src!=false'>
                     <img src="assets/imgs/logo.png" style="object-fit: cover;object-position: top;" *ngIf='cat.image.src==false'>
                </ion-avatar> -->
                <p padding-left class="shopitems" [innerHTML]="cat.name"></p>
            </button>
        </ion-item> 
    </ion-list>

    <ion-list class="shoplist" *ngIf="catp==undefined || catp!= 'catwithp'">
        <ion-item margin-top *ngFor="let cat of catsToShow | slice:0"> <!-- | slice:0 -->
            <button menuClose ion-item *ngIf="cat.parent != 0" (click)="Category_Page(cat)" class="shopbutton">
                <!-- <ion-avatar slot="start" class="hydrated" float-left>
                     <img src="{{cat.image.src}}" style="object-fit: cover;object-position: top;" *ngIf='cat.image.src!=false'>
                     <img src="assets/imgs/logo.png" style="object-fit: cover;object-position: top;" *ngIf='cat.image.src==false'>
                </ion-avatar> -->
                <p padding-left class="shopitems" [innerHTML]="cat.name"></p>
            </button>
        </ion-item> 
    </ion-list>

 <!--    <div class="all-products">
        <div class="tabs-contant">
            <ion-segment *ngFor="let cats of categoriesAll">
                <ion-segment-button [ngClass]="(cats[0].id == catsToShow[0].id) ? 'active' : 'blank_class'" [innerHTML]="cats[0].name"
                    (click)="showCats(cats)">
                </ion-segment-button>
            </ion-segment>
        </div>
        <div class="all-items">
            <ion-list>
                <ion-item *ngFor="let cat of catsToShow">
                    <p class="" *ngIf="cat.parent != 0" (click)="shirtsPage(cat)">
                        <span [innerHTML]="cat.name"></span>
                        <ion-icon name="ios-arrow-forward-outline" text-right class="icon"></ion-icon>
                    </p>
                </ion-item>
            </ion-list>
        </div>
    </div> -->
</ion-content>