<ion-header>
    <ion-navbar>
        <!-- <button ion-button menuToggle>
            <ion-icon class="menu-icon">
                 <ion-icon name="menu"></ion-icon>
            </ion-icon>
        </button> -->
        <!-- <button style="background-color:transparent;" ion-button (click)="goBack()">
            <ion-icon style="!important; font-size:2.4rem;color:#000;" name="md-arrow-back"></ion-icon>
        </button> -->
        <ion-title>Pay now</ion-title>
    </ion-navbar>
</ion-header>

<ion-content radio-group class="bg-light">
    <ion-row text-center class="status">
        <ion-col class="complate">
            <ion-icon name="ios-checkmark-circle"></ion-icon>
            <span>Address</span>
        </ion-col>
        <ion-col class="processing">
            <ion-icon name="ios-checkmark-circle"></ion-icon>
            <span>Shipping</span>
        </ion-col>
        <ion-col class="panding">
            <ion-icon name="md-radio-button-off"></ion-icon>
            <span>Payment</span>
        </ion-col>
    </ion-row>

    <ion-card>
        <p class="heading">Payment method</p>
        <ion-card-content>
            <label ion-item *ngFor="let item of paymentGateways">
                <ion-label>{{item.title}}</ion-label>
                <ion-radio value="{{item.title}}" (click)="paymentMethod(item)"></ion-radio>
            </label>
        </ion-card-content>
    </ion-card>
    <div class="spacebar"></div>
    <div class="btn-padding btn-fisx-bottom">
        <button ion-button full class="btn-round btn-text appbtn-color text-color" (click)="placedPage()">Continue
        </button>
    </div>
</ion-content>