<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar style="height:100px;">
            <ion-title text-center class="menustitle" style="padding: 0 0px 0px 21px !important;" >
               <img src="assets/imgs/logo.png" style="width:80%;display: block;margin: 0 auto;margin-left: 9px;" (click)="homePage()"> 
               <!-- LONDON <span class="light">MARKET</span>  -->
            </ion-title>
            <!-- <ion-list>
                <ion-item menuClose (click)="actionNavHeader()">
                    <ion-avatar item-start>
                        <img src="assets/imgs/icon.png">
                    </ion-avatar>
                    <h2 *ngIf="user && user.first_name.length">{{ 'hey' | translate }} {{user.first_name}}
                    </h2>
                    <h2 *ngIf="user && !user.first_name.length">{{ 'hey' | translate }} {{user.username}}
                    </h2>
                    <h2 *ngIf="!user">{{ 'hey_guest' | translate }}
                    </h2>
                    <p *ngIf="user">{{user.email}}</p>
                    <ion-icon item-end name="ios-arrow-forward" style="font-size: 20px;"></ion-icon>
                </ion-item>
            </ion-list> -->
        </ion-toolbar>
    </ion-header>

    <ion-content class="menucontent">
        <ion-list class="menulist">
          <button *ngIf="!user" margin-top menuClose ion-item (click)="loginPage()" class="menustext"> 
           <img src="assets/icon/signin.png"> <span>Sign in Or Register </span>
          </button>
          <p *ngIf="!user" class="registertext">Register or Sign in now to personalise your app and trac your orders</p>
          <button menuClose ion-item (click)="homePage()" class="menustext" item-end detail-push>
           <img src="assets/icon/home.png"> <span>Home </span>
          </button>
           <button menuClose ion-item class="menustext" (click)="categoriesPage()">
            <img src="assets/icon/shop.png"> <span>Shop </span>
          </button>
          <button menuClose ion-item class="menustext" (click)="wishlistPage()">
            <img src="assets/icon/wishlist.png"> <span>Wishlist </span>
          </button>
          <button menuClose ion-item class="menustext" (click)="justinpage()">
            <img src="assets/icon/just.png"><span>Just In </span>
          </button>
          <!-- <button menuClose ion-item class="menustext" (click)="giftPage()">
            <img src="assets/icon/gift.png"> <span>Gifting </span>
          </button> -->
          <button menuClose ion-item class="menustext" (click)="allbrand()">
            <img src="assets/icon/brand.png"> <span>Brand A-Z </span>
          </button>
          <!-- <button menuClose ion-item class="menustext">
            <img src="assets/icon/exclusive.png"> <span>Our Exclusives </span>
          </button> -->
          <button menuClose ion-item class="menustext" (click)="tagspage(261)">
            <img src="assets/icon/best.png"> <span>Bestseller </span>
          </button>

          <button menuClose ion-item class="menustext" (click)="tagspage(262)">
            <img src="assets/icon/reductions.png"> <span>Reductions </span>
          </button>

           <button menuClose ion-item class="menustext" (click)="tagspage(340)">
            <img src="assets/icon/sell.png"> <span>Made On Order </span>
          </button>

          <button menuClose ion-item class="menustext" (click)="exhibition()">
           <img src="assets/icon/exhibitions.png"> <span> Exhibitions<br>
              <span style="font-size:10px;padding-left:41px;">Our Schedule</span> </span>
          </button>
         <!--  <button menuClose ion-item class="menustext">
           <img src="assets/icon/sell.png"> <span> Wants to Sell </span>
          </button> -->
          <button menuClose ion-item class="menustext" (click)="appointment()">
            <img src="assets/icon/appointment.png"> <span>Want to Sell<br>
              <span style="font-size:10px;padding-left:41px;">Fix Appointment</span> </span>
          </button>

          <button *ngIf="user" menuClose ion-item class="menustext" (click)="myorder_2Page()">
           <img src="assets/icon/orders.png"> <span>My Orders </span>
          </button>

          <button *ngIf="user" menuClose ion-item class="menustext" (click)="my_accountPage()">
           <img src="assets/icon/account.png"> <span>My Account </span>
          </button>

          <button menuClose ion-item class="menustext" (click)="support()">
           <img src="assets/icon/support.png"> <span>Customer Support </span>
          </button>

          <button *ngIf="user" menuClose ion-item class="menustext" (click)="phonenumberPage()">
           <img src="assets/icon/signin.png"> <span>Logout </span>
          </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" [class]="deviceModel" #content swipeBackEnabled="false " type="overlay"></ion-nav>