<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New in this week</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <br>
    <ion-list>
        <ion-row>
            <ion-col>
                <ion-card (click)="vendorspage()">
                  <ion-card-header>
                    <img src="assets/imgs/designer.jpg">
                  </ion-card-header>
                  <ion-card-content padding>
                    <h3> New Designer  </h3>
                  </ion-card-content>
                </ion-card>
                
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card (click)="newproductspage()">
                  <ion-card-header>
                    <img src="assets/imgs/newin.jpg">
                  </ion-card-header>
                  <ion-card-content padding>
                    <h3> New Products  </h3>
                  </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-list>
