<ion-header>
    <ion-navbar>
        <ion-title><p text-center style="width:100%">Order placed</p></ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="img-box">
        <img src="assets/imgs/order-placed.jpg">
    </div>
    <h3 text-center>Your order placed</h3>
    <h4 class="" text-center padding-left padding-right>Your order has been placed successfully.<br>Please visit <strong (click)="ordersPage()">My Order </strong> page to check the progress and more details.</h4>
    <div class="btn-padding btn-fisx-bottom ">
        <button ion-button full class="btn-round btn-text appbtn-color text-color" (click)="homePage()">CONTINUE SHOPPING</button>
    </div>
</ion-content>
