<ion-header>
  <ion-navbar>
    <ion-title text-center>London Market</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="form" padding-left padding-right>
    <p text-center>Please provide your Mobile number <br />for OTP Verification</p>
    <ion-list>
      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select [(ngModel)]="countryCode" placeholder="Select">
          <ion-option [value]="country.callingCodes[0]" *ngFor="let country of countries">{{country.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Mobile no.</ion-label>
        <ion-input type="tel" text-right placeholder="Phone Number" [(ngModel)]="registerRequest.username"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full class="bg-thime btn-round btn-text" (click)="createUser()">
      Continue
    </button>
  </div>
</ion-content>