<ion-header>
    <ion-navbar>
	<button ion-button menuToggle>
      <ion-icon class="menu-icon"><img src="assets/imgs/ic_menu.png"></ion-icon>
    </button>
        <ion-title>My Addresses</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="form" padding-left padding-right>
        <p text-center padding-bottom margin-bottom>Edit address</p>
        <ion-list>
            <ion-item>
                <ion-label>First name</ion-label>
                <ion-input type="text" text-right placeholder="First name" [(ngModel)]="address.first_name"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label>Last name</ion-label>
                <ion-input type="text" text-right placeholder="Last name" [(ngModel)]="address.last_name"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label>Email</ion-label>
                <ion-input type="email" text-right placeholder="Email" [(ngModel)]="address.email"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label>Phone number</ion-label>
                <ion-input type="tel" text-right placeholder="Phone number" [(ngModel)]="address.phone"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label>Address line 1</ion-label>
                <ion-input type="text" text-right placeholder="Address line 1" [(ngModel)]="address.address_1"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label>Address line 2</ion-label>
                <ion-input type="text" text-right placeholder="Address line 2" [(ngModel)]="address.address_2"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label>City</ion-label>
                <ion-input type="text" text-right placeholder="City" [(ngModel)]="address.city"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label>State</ion-label>
                <ion-input type="text" text-right placeholder="state" [(ngModel)]="address.state"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label>Postal code</ion-label>
                <ion-input type="text" text-right placeholder="Postal code" [(ngModel)]="address.postcode"></ion-input>
            </ion-item>
			<ion-item>
                <ion-label>Country</ion-label>
                <ion-input type="text" text-right placeholder="Country" [(ngModel)]="address.country"></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button full class="bg-thime btn-round btn-text" (click)="saveAddress()">Save</button>
    </div>
</ion-content>
