<ion-header class="bg-thime">
    <ion-navbar>
        <ion-title>
            <p float-left padding-left> Product Filter</p> 
            <p class="icon-box cart" (click)="cartPage()" float-right no-margin>
                <img src="assets/imgs/cart.png">
                <ion-badge>{{cartTotal}}</ion-badge>
            </p>
            <p float-right no-margin padding-right padding-top class="search">
                <ion-icon name="search" (click)="searchPage()"></ion-icon>
            </p>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="products">
    <br>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-row *ngFor="let products of productsAll">
            <ion-col class="productimg" col-6 *ngFor="let pro of products">
                <div *ngIf="pro.images && pro.images.length" class="img-box" (click)="itemdetailPage(pro)">
                    <img data-src="{{pro.images[0].src}}" class="proimg">
                </div>
                <div *ngIf="pro.images == null || pro.images.length == 0" class="img-box" (click)="itemdetailPage(pro)">
                    <img src="assets/imgs/suit_PNG8132.png" class="proimg">
                </div>
              
                 <button fab fab-bottom fab-right float-right class="favbtn" (click)="addtowishlist(pro,pro.index)"  ><ion-icon name="heart" [ngClass]="other[pro.index] ? 'wishlistcolor' : 'wishlistnocolor'"></ion-icon></button> 
                <h6 (click)="itemdetailPage(pro)" style="font-size:13px;">{{pro.name | slice:0:27}}...</h6>
                <ion-row *ngIf="pro.type =='simple'">
                    <ion-col no-padding><p *ngIf="pro.type =='simple' && pro.regular_price!=pro.sale_price" class="price text-light mr-5" [innerHTML]="pro.regular_price_html" no-margin style="font-size:12px;"> </p>
                    </ion-col>

                    <ion-col no-padding><p *ngIf="pro.type =='simple'" [innerHTML]="pro.sale_price_html" no-margin style="font-size:12px;"></p>
                    
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="pro.type =='variable'">
                    <ion-col no-padding>
                       <p *ngIf="pro.type =='variable'" [innerHTML]="pro.price_html" no-margin style="font-size:12px;"></p> 
                    </ion-col>
                </ion-row>
            </ion-col>
            
        </ion-row>
    </ion-list>


    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>



    
