<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
          <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>All Products</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="products">
    <ion-item-group>
         <ion-item-divider light>Brand A-Z</ion-item-divider>
          <ion-row *ngFor="let tag of sorttags">
            <ion-item (click)="productsbytag(tag.id)" detail-push>
        			<ion-label style="font-size:14px;">{{tag.name}}</ion-label>
            </ion-item> 
          </ion-row>
   </ion-item-group>

    <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>