<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
          <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Designers</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-item-group>
        <ion-item-divider light>All Designers</ion-item-divider>
          <ion-row *ngFor="let vendor of vendors">
            <ion-item (click)="productsbyvendors(vendor.id)" detail-push *ngIf="vendor.nice_name<6">
        		  <ion-label style="font-size:17px;">{{vendor.first_name}} {{vendor.last_name}}</ion-label>
            </ion-item> 
        </ion-row>
   </ion-item-group>
</ion-content>
