<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle start>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Designers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <br>
    <ion-list>
        <ion-row *ngFor="let products of productsAll">
            <ion-col col-6 *ngFor="let pro of products">
                <ion-card>
                    <ion-card-header>
                        <h5 (click)="itemdetailPage(pro)">{{pro.name}}</h5>
                        <div *ngIf="pro.images && pro.images.length" class="img-box" (click)="itemdetailPage(pro)">
                            <img data-src="{{pro.images[0].src}}">
                        </div>
                        <div *ngIf="pro.images == null || pro.images.length == 0" class="img-box" (click)="itemdetailPage(pro)">
                            <img src="assets/imgs/suit_PNG8132.png">
                        </div>
                    </ion-card-header>
                    <ion-card-content>
                        <p *ngIf="pro.type =='simple' && pro.regular_price!=pro.sale_price" class="price text-light mr-5" [innerHTML]="pro.regular_price_html"></p>
                        <p *ngIf="pro.type =='simple'" [innerHTML]="pro.sale_price_html"></p>
                        <p *ngIf="pro.type =='variable'" [innerHTML]="pro.price_html"></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>