<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <img src="assets/imgs/ic_menu.png">
        </button>
        <ion-title>Forgot password?
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="form" padding-left padding-right>
        <p text-center>Enter your registered email address or username to reset your password.</p>
        <ion-list>
            <ion-item>
                <ion-input type="text" text-right placeholder="Enter your registered email or username" [(ngModel)]="userLogin"></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button full class="appbtn-color btn-round btn-text" (click)="resetPassword()">Submit</button>
    </div>
</ion-content>