page-createaccount {
    .form {
        background: $white-color;
        position: relative;
        min-height: calc(100vh - 20rem);
        z-index: 1;
        ion-list.list {
            margin-bottom: 1rem !important;
        }
        .d-flex {
            display: flex;
            align-items: center;
            border: 1px solid #e4e4e4;
            border-radius: 3px;
            padding-right: 18px;
            margin-bottom: 5px;
            .item-inner {
                border: none !important;
                margin-bottom: 0px;
            }
            .eye-icon {
                display: block;
                font-size: 2.5rem;
            }
        }
    }
    .fix-bottom {
        position: fixed;
        width: 100%;
        bottom: 1.5rem;
        left: 0;
        margin-bottom: 0;
        z-index: 0;
    }
    .toolbar-content-ios .toolbar-title-ios {
        margin-top: 2px;
    }
    
    .selcountry{
        font-size: 1.3rem !important;
        border: none !important;
        font-weight: 500 !important;
    }
}
