<ion-header>
    <ion-navbar>
        <ion-title>Create account</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="form" padding-left padding-right>
        <p text-center padding-bottom margin-bottom>Create your account on London Market</p>
        <ion-list>
            <ion-item>
                <ion-label>First name</ion-label>
                <ion-input type="text" text-right placeholder="Enter first name" [(ngModel)]="registerRequest.first_name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Last name</ion-label>
                <ion-input type="text" text-right placeholder="Enter last name" [(ngModel)]="registerRequest.last_name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Country</ion-label>
                <ion-select [(ngModel)]="countryCode" placeholder="Select" multiple="false" class="selcountry">
                    <ion-option [value]="country.callingCodes[0]" *ngFor="let country of countries">{{country.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Phone number</ion-label>
                <ion-input type="tel" text-right placeholder="Enter valid phone number" [(ngModel)]="registerRequest.username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input type="email" text-right placeholder="Email" [(ngModel)]="registerRequest.email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Password</ion-label>
                <ion-input type="password" text-right placeholder="Password" [(ngModel)]="registerRequest.password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Confirm password</ion-label>
                <ion-input type="password" text-right placeholder="Confirm password" [(ngModel)]="registerRequestPasswordConfirm"></ion-input>
            </ion-item>
        </ion-list>
        <p text-center [innerHTML]="authError"></p>
        <button ion-button full class="bg-thime btn-round btn-text" (click)="register()">Continue</button>

    </div>
    <p text-center class="fix-bottom">
        <small>
            Already registered?
            <span class="black-color" (click)="signinPage()">
               Sign in
            </span>
        </small>
    </p>
</ion-content>