<ion-header>
    <ion-navbar>
        <button ion-button menuToggle start>
        	<ion-icon name="menu"></ion-icon>
    	</button>
        <ion-title style="text-align:left;">Seasons Shopping</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row padding class="summer" style="background:#fff;border: 1px solid #fce7ee">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length">
			<h1 [innerHTML] = "seasons[0].name"> </h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;border: 1px solid #b17b8e42" (click)="tagspage(seasons[0].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>

	<ion-row padding class="summer" style="background:#FCE7EE;">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length" >
			<h1 [innerHTML]="seasons[1].name"> </h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;" (click)="tagspage(seasons[1].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>

	<ion-row padding class="summer" style="background:#ECC3D1;">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length">
			<h1 [innerHTML]="seasons[2].name" ></h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;" (click)="tagspage(seasons[2].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>

	<ion-row padding class="summer" style="background:#c78fa2;">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length">
			<h1 [innerHTML]="seasons[3].name" class="text-sky"> </h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;" (click)="tagspage(seasons[3].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>

	<ion-row padding class="summer" style="background:#bd788f;">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length">
			<h1 [innerHTML]="seasons[4].name" class="text-sky"></h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;" (click)="tagspage(seasons[4].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>

	<ion-row padding class="summer" style="background:#a05971;">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length">
			<h1 [innerHTML]="seasons[5].name" class="text-sky"> </h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;" (click)="tagspage(seasons[5].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>

	<ion-row padding class="summer" style="background:#8a4d61;">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length">
			<h1 [innerHTML]="seasons[6].name" class="text-sky"></h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;" (click)="tagspage(seasons[6].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>

	<ion-row padding class="summer" style="background:#7d4658;">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length">
			<h1 [innerHTML]="seasons[7].name" class="text-sky"> </h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;" (click)="tagspage(seasons[7].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>

	<ion-row padding class="summer" style="background:#80475a;">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length">
			<h1 [innerHTML]="seasons[8].name" class="text-sky"> </h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;" (click)="tagspage(seasons[8].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>

	<ion-row padding class="summer" style="background:#774254;">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length">
			<h1 [innerHTML]="seasons[9].name" class="text-sky">  </h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;" (click)="tagspage(seasons[9].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>

	<ion-row padding class="summer" style="background:#6b3b4b;">
		<ion-col text-center class="sale" *ngIf="seasons && seasons.length">
			<h1 [innerHTML]="seasons[10].name" class="text-sky"> </h1>
			<button margin-top class="btn-round" style="padding:12px;background: #fff;" (click)="tagspage(seasons[10].id)">Shop now <ion-icon name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>



</ion-content>
