<ion-header>
    <ion-navbar hideBackButton="true">
        <button style="background-color:transparent;" ion-button (click)="goBack()">
            <ion-icon style="!important; font-size:2.4rem;color:#000;" name="md-arrow-back"></ion-icon>
        </button>
        <ion-title>Confirm order</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div class="address-section">
        <ion-row text-center class="status">
            <ion-col class="complate">
                <ion-icon name="ios-checkmark-circle"></ion-icon>
                <span>Address</span>
            </ion-col>
            <ion-col class="processing">
                <ion-icon name="md-radio-button-off"></ion-icon>
                <span>Shipping</span>
            </ion-col>
            <ion-col class="panding">
                <ion-icon name="ion-record"></ion-icon>
                <span>Payment</span>
            </ion-col>
        </ion-row>
    </div>
    <div class="your-items">
        <ion-card *ngIf="cartItems && cartItems.length">
            <ion-card-header>
                <p>YOUR ITEMS</p>
            </ion-card-header>
            <ion-card-content *ngFor="let item of cartItems">
                <ion-row>
                    <ion-col col-4>
                        <div *ngIf="item.product.images && item.product.images.length" class="img-box">
                            <img data-src="{{item.product.images[0].src}}">
                        </div>
                        <div *ngIf="item.product.images == null || item.product.images.length == 0" class="img-box">
                            <img src="assets/imgs/suit_PNG8132.png">
                        </div>
                    </ion-col>
                    <ion-col col-8>
                        <h4>{{item.product.name}}</h4>
                        <p *ngIf="!item.product.shipping_required || (item.product.shipping_required && !((item.product.shipping_cost_use_global && shippingChargeGlobal==-1) || (!item.product.shipping_cost_use_global && item.product.shipping_cost==-1)))"
                            class="d-flex" float-left [innerHTML]="item.product.sale_price_html">
                        </p>
                        <p *ngIf="item.product.shipping_required && ((item.product.shipping_cost_use_global && shippingChargeGlobal==-1) || (!item.product.shipping_cost_use_global && item.product.shipping_cost==-1))"
                            class="d-flex" float-left>
                            Inappropriate shipping setup
                        </p>
                        <div class="price">
                            <div>
                                <div class="d-flex btn-grup" float-right>
                                    <div class="btn appbtn-color text-color" (click)="decrementItem(item.product)">
                                        -
                                    </div>
                                    <span>{{item.quantity}}</span>
                                    <div class="btn appbtn-color text-color" (click)="incrementItem(item.product)">
                                        +
                                    </div>
                                </div>
                                <div style="display: block;clear: both"></div>
                                <p text-right class="text-sky" (click)="removeItem(item.product)">
                                    Remove
                                </p>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
<ion-footer>
    <div class="receipt btn-fisx-bottom">
        <ion-card>
            <ion-card-header>
                <p>Item(s) price
                    <span text-right [innerHTML]="total_items_html">
                    </span>
                </p>
                <p>Shipping charges
                    <span text-right [innerHTML]="shippingCharge">
                    </span>
                </p>
                <p *ngIf="coupon">{{coupon.code}} applied 
                    <span text-right [innerHTML]="couponAmount">
                    </span>
                    <ion-icon name="md-close" class="cross" (click)="removeCoupon()"></ion-icon>
                </p>
                <div *ngIf="!coupon" text-center class="" (click)="codePage()">Have Promocode?</div>
            </ion-card-header>
            <ion-card-content>
                <p>Amount Payable
                    <span text-right [innerHTML]="total_html">
                    </span>
                </p>
                <button ion-button full class="btn-round btn-text appbtn-color text-color" (click)="paymentPage()" style="width:100%">Continue</button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-footer>