<ion-header>
  <ion-navbar>
    <ion-title>
    	<span float-end>
            <ion-icon name="md-close" class="close-icon" (click)="dismiss()" style="font-size:2.0em!important;"></ion-icon>
        </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<h5>Return Policy</h5>
	<p [innerHTML]="pagedata.content.rendered" *ngIf='pagedata !== undefined'></p>
</ion-content>
