<ion-header>
    <ion-navbar>
        <ion-title *ngIf="product">
            <span start float-left class="producttitle">{{product.name.substring(0,15)}}</span>
            <img src="assets/imgs/cart.png" class="cart" float-right (click)="cartPage()">
            <ion-badge float-right class="cartbadge" (click)="cartPage()">{{cartTotal}}</ion-badge>
            <ion-icon class="ion ion-md-share sharebtn" float-right padding-right (click)="shareProduct(product)"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row no-padding>
      <ion-col no-padding class="productslider" *ngIf="product && product.images && product.images.length"> 
        <ion-slides pager="true" class="bannerslider" *ngIf="product.images && product.images.length">
          <ion-slide *ngFor= "let image of product.images">
           <img data-src="{{image.src}}" style="height:330px; width:100%;object-fit: cover; object-position: top;" imageViewer>
          </ion-slide>
        </ion-slides>
        <button fab fab-bottom fab-right float-right class="favbtn" (click)="addtowishlist(product,product.index)">
        <ion-icon name="heart" [ngClass]="product.wishlist ? 'wishlistcolor' : 'wishlistnocolor'"></ion-icon></button>
      </ion-col>
    </ion-row>

    <ion-row margin-bottom padding-left style="background:#fff;" *ngIf="product">
        <ion-col>
            <p><strong>{{product.name | slice:0:45}}...</strong></p>
            <!-- delete -->
            <ion-item *ngIf="productVariations && productVariations.length" style="padding-left:0px;">
                <p>Product variations</p>
                <ion-label style="display:none;">Available sizes</ion-label>
                <ion-select [(ngModel)]="variations">
                  <ion-option *ngFor="let item of productVariations; let i = index " [value]="i" [selected]="i === 0" (ionSelect)="changeproduct(item.id)" [innerHTML]="item.name"></ion-option>
                </ion-select>
            </ion-item>
            <span *ngFor="let item of productVariations" class="product">
                <ion-row *ngIf="item.id==pid">
                    <div class="rate">
                        <div style="margin: 6px;" class="price-box">
                            <div *ngIf="item.regular_price != item.sale_price" class="price" padding-right float-left>
                              <s> Rs. {{item.regular_price}}</s>
                            </div>
                            <div class="price" float-right>Rs. {{item.sale_price}}
                            </div>
                        </div>
                            <button ion-button class="btn-round appbtn-color text-color variationbtn" text-white float-right (click)="addVariation(item)">Add to cart</button>
                    </div>
                </ion-row>
            </span>
            <!-- end -->
            <span *ngIf="product && product.type == 'simple'">
                <p [innerHTML]="product.sale_price_html" float-left >  </p>
                <div *ngIf="product.regular_price != product.sale_price" class="price text-light" margin padding-right [innerHTML]="product.regular_price_html" float-left>
                </div>
            </span>
            <span *ngIf="product && product.type == 'simple'">
                <button float-right class="btn-round appbtn-color text-color" text-white (click)="addToCart()" style="padding:12px;"> Add to cart </button>
            </span>

        </ion-col>
    </ion-row>

     <!-- Variations end -->
    <div *ngIf="product" class="about-section shadow-bottom bg-white">
        <h3>About product</h3>
        <span *ngIf="product && product.tags.length>0 && checkmoo==340">
        <ion-icon name="pricetags" style="color:#893652; font-size: 1.0em;"></ion-icon> <span style="color:#893652;"> Available in Made on Orders</span>
        </span>
        <p [innerHTML]="product.description"></p>
        <div *ngIf="vendors" class="vendordata">
            <p><b>Sold By</b> {{vendors.shop.title}}</p>
            <!-- <p>{{vendors.address.address_1}}, {{vendors.address.city}}</p>
            <p>{{vendors.address.phone}}</p>
            <p>{{vendors.address.postcode}}</p> -->
        </div>
       <!--  <p *ngIf="product && checksizechart==58">
            <span style="text-decoration: none; font-weight: 500;" (click)="sizechartpage()"> SIZECHART</span>
            <ion-icon name="arrow-round-forward" padding-left (click)="sizechartpage()"></ion-icon>
        </p> -->
    </div>

     <!-- <ion-row no-padding>
         <div class="d-flex" style="align-items: stretch;">
            <span class="product_name">{{product.name}}</span>
            <p [innerHTML]="product.description"></p>
        </div>
    </ion-row> -->

      <!--   <div *ngIf="product" class="img-section shadow-bottom" text-center>
            <div class="img-box">
                <img *ngIf="imageToDisplay" data-src="{{imageToDisplay}}">
                <img *ngIf="!imageToDisplay" src="assets/imgs/veg-1.png">
            </div>
        </div> -->
   <!--
        <div *ngIf="product.images && product.images.length" class="tab-btn-box">
            <div class="tab-btn">
                <img data-src="{{product.images[0].src}}" (click)="showImage(product.images[0].src)">
            </div>
            <div *ngIf="product.images.length > 1" class="tab-btn">
                <img data-src="{{product.images[1].src}}" (click)="showImage(product.images[1].src)">
            </div>
            <div *ngIf="product.images.length > 2" class="tab-btn">
                <img data-src="{{product.images[2].src}}" (click)="showImage(product.images[2].src)">
            </div>
        </div>
        <div class="d-flex" style="align-items: stretch;">
            <span class="product_name">{{product.name}}</span>
            <span class="icon" item-end>
                <ion-icon name="share-alt" (click)="shareProduct(product)"></ion-icon>
            </span>
        </div>
     -->

    <!-- Variations start -->

   <div *ngIf="productVariations && productVariations.length" class="your-items" padding-top>
        <ion-card-header>
            <p no-margin>Available sizes</p>
        </ion-card-header>
        <ion-card-content >
            <ion-scroll scrollX="true" style="width:100vw; height:310px" class="item pvdiv">
                <ion-row nowrap>
                  <div class="inner" *ngFor="let item of productVariations">
                     <ion-card style="height:280px;"> 
                        <div *ngIf="item.images && item.images.length" class="img-box">
                            <img data-src="{{item.images[0].src}}" imageViewer>
                        </div>
                        <div *ngIf="!item.images || !item.images.length" class="img-box">
                            <img src="assets/imgs/suit_PNG8132.png">
                        </div>
                    
                        <h4 padding-left>{{item.name}}</h4>

                        <p padding-left *ngFor="let att of item.attributes">
                            <span>{{att.name}} : </span>
                            <span>{{att.option}}</span>
                        </p>
                        <div class="rate">
                            <div style="display: flex;" class="price-box">
                                <div *ngIf="item.regular_price != item.sale_price" class="price text-light" padding-right
                                    [innerHTML]="item.regular_price_html">
                                </div>
                                <div class="price" [innerHTML]="item.sale_price_html">
                                </div>
                            </div>
                            <!-- <p text-right class="card-bottom">
                                <button ion-button class="small button btn-round" color="dark" text-right (click)="buyVariation(item)">{{
                                    'buy_now' | translate }}</button>
                            </p> -->
                        </div>
                        <p class="card-bottom">
                            <button ion-button class="small button btn-round btn-text appbtn-color" text-right (click)="addVariation(item)">Add to cart</button>
                        </p>
                    </ion-card>
                  </div>
                </ion-row>
            </ion-scroll>

            <!-- <ion-row>
                <ion-col col-3>
                    <div *ngIf="item.images && item.images.length" class="img-box">
                        <img data-src="{{item.images[0].src}}">
                    </div>
                    <div *ngIf="!item.images || !item.images.length" class="img-box">
                        <img src="assets/imgs/suit_PNG8132.png">
                    </div>
                </ion-col>
                <ion-col col-9>
                    <h4>{{item.name}}</h4>
                    <div class="rate">
                        <div style="display: flex;" class="price-box">
                            <div *ngIf="item.regular_price != item.sale_price" class="price text-light" padding-right
                                [innerHTML]="item.regular_price_html">
                            </div>
                            <div class="price text-sky" [innerHTML]="item.sale_price_html">
                            </div>
                        </div>
                        <p text-right class="card-bottom">
                            <button ion-button class="small button btn-round bg-green" text-right (click)="buyVariation(item)">{{
                                'buy_now' | translate }}</button>
                        </p>
                    </div>
                    <p class="card-bottom">
                        <button ion-button class="small button btn-round" text-right (click)="addVariation(item)">{{
                            'add_to_cart' | translate }}</button>
                    </p>
                </ion-col>
            </ion-row> -->
        </ion-card-content>
    </div> 

    <div *ngIf="recent && recent.length" class="your-items recent">
        <ion-card-header style="background: #fff;">
            <p class="return-section" no-margin style="font-size: 1.28rem;font-weight:bold;display: initial;">Recently Viewed Products</p>
             <ion-icon name="trash" float-right (click)="delrecent()" style="color: #893652;"></ion-icon>
        </ion-card-header>
        <ion-card-content >
            <ion-scroll scrollX="true" style="width:100vw; height:330px!important" class="item">
                <ion-row nowrap>
                  <div class="inner" *ngFor="let item of recent.slice().reverse() let i = index;">
                     <ion-card style="border-right: 0px;width:244px;"> 
                        <div *ngIf="item.images && item.images.length">
                            <img data-src="{{item.images[0].src}}" imageViewer style="width:100%">
                        </div>
                        <div *ngIf="!item.images || !item.images.length">
                            <img src="assets/imgs/logo.png">
                        </div>
                    
                        <h4 padding-left style="height:inherit;">{{item.name | slice:0:33}}...</h4>
                        <div class="rate">
                            <div style="display: flex;" class="price-box">
                                <div *ngIf="item.regular_price != item.sale_price" class="price text-light" padding-right
                                    [innerHTML]="item.regular_price_html">
                                </div>
                                <div class="price" [innerHTML]="item.sale_price_html">
                                </div>
                            </div>
                        </div>
                        <p class="card-bottom">
                            <button ion-button class="appbtn-color small button btn-round"  text-right (click)="itemdetail(item)" style="margin:10px auto;height: 2.5rem;">View Product</button>
                        </p>
                    </ion-card>
                  </div>
                </ion-row>
            </ion-scroll>
        </ion-card-content>
    </div> 

    <ion-row padding class="return-section shadow-bottom bg-white" *ngIf="product && product.type == 'simple'">
        <ion-col>
          <div text-start>
           <h3 (click)="policymodal()" no-margin padding-top float-left class="about-section"> DELIVERY & RETURNS</h3>
            <ion-icon name="arrow-round-forward" padding-left padding-top float-right (click)="policymodal()"></ion-icon>
          </div>
        </ion-col>
    </ion-row>
    

</ion-content>

<ion-footer *ngIf="productVariations && productVariations.length">
     <ion-row padding class="return-section shadow-bottom bg-white">
        <ion-col>
          <div text-start>
           <h3 (click)="policymodal()" no-margin padding-top float-left class="about-section"> DELIVERY & RETURNS</h3>
            <ion-icon name="arrow-round-forward" padding-left padding-top float-right (click)="policymodal()"></ion-icon>
          </div>
        </ion-col>
    </ion-row>
</ion-footer>

<ion-footer *ngIf="product && product.type == 'simple'">
   <!--  <div *ngIf="product && product.type == 'simple'" style="height: 60px"></div>
    <div *ngIf="product && product.type == 'simple'" class="price-section shadow-bottom bg-white">
        <div class="d-flex">
            <div *ngIf="product.regular_price != product.sale_price" class="price text-light" padding-right [innerHTML]="product.regular_price_html">
            </div>
            <p class="d-flex" [innerHTML]="product.sale_price_html">
            </p>
            
        </div>
    </div> -->
   
    <button no-padding no-margin ion-button full class="btn-round btn-text appbtn-color" text-white (click)="buyNow()" style="width:100%; height:50px;border-radius:0px!important;">Buy now</button>
</ion-footer>